<div class="Wrapper">
    <div><button type="button" ng-model="searchText" ng-click="app.setFilter()">Set Filter</button></div>
    <main id="ScrollableContrainer" class="Main">
        <div class="Main-left">
            <div ng-repeat="dropdown in app.dropdowns | filter:app.filter.id">
                <button type="button" class="Button Button--primary" angular-dropdown-trigger="Dropdown{{dropdown.id}}">Open {{dropdown.id}}</button>
                <angular-dropdown dropdown-id="Dropdown{{dropdown.id}}" scrollable-container-id="ScrollableContrainer">
                    <angular-dropdown-button-group heading="Dropdown Header {{dropdown.id}}">
                        <angular-dropdown-button button-click="app.buttonOne(dropdown.id)" disable="true">Button 1</angular-dropdown-button>
                        <angular-dropdown-button button-click="app.buttonTwo(dropdown.id)" disable="">Button 2</angular-dropdown-button>
                        <!--<angular-dropdown-button on-click="" disable="" angular-dropdown-trigger="Dropdown1Sub1">Sub Dropdown</angular-dropdown-button>
                        <angular-dropdown dropdown-id="Dropdown1Sub1">
                            <angular-dropdown-button on-click="" disable="">Transclude</angular-dropdown-button>
                            <angular-dropdown-button on-click="" disable="">Transclude</angular-dropdown-button>
                            <angular-dropdown-button on-click="" disable="">Transclude</angular-dropdown-button>
                        </angular-dropdown>-->
                    </angular-dropdown-button-group>
                    <angular-dropdown-divider></angular-dropdown-divider>
                    <angular-dropdown-button button-click="app.buttonThree(dropdown.id)" disable="">Button 3</angular-dropdown-button>
                </angular-dropdown>
            </div>
        </div>
        <div class="Main-right">
            <div ng-repeat="dropdown in app.dropdownsTwo | filter:app.filter.id">
                <button type="button" class="Button Button--primary" angular-dropdown-trigger="Dropdown22{{dropdown.id}}">Open {{dropdown.id}}</button>
                <angular-dropdown dropdown-id="Dropdown22{{dropdown.id}}" scrollable-container-id="ScrollableContrainer">
                    <angular-dropdown-button-group heading="Dropdown Header That Is Long {{dropdown.id}}">
                        <angular-dropdown-button button-click="app.buttonOne(dropdown.id)" disable="true">Button 1</angular-dropdown-button>
                        <angular-dropdown-button button-click="app.buttonTwo(dropdown.id)" disable="">Button 2</angular-dropdown-button>
                    </angular-dropdown-button-group>
                    <angular-dropdown-divider></angular-dropdown-divider>
                    <angular-dropdown-button button-click="app.buttonThree(dropdown.id)" disable="">Button 3</angular-dropdown-button>
                </angular-dropdown>
            </div>
        </div>
    </main>
</div>